#page-template-home {

	#projetos {
    .ca-heading-2 {
      margin-bottom: 40px;
    }
  }
  #sobre {
    .section-body {
      margin-bottom: 100px;
    }  
  }
  #contato {
    p {
      margin-top: 0px;
      margin-bottom: 40px;
    }

    label {
      font-size: @font-size-base-desktop;
    }

    input, textarea {
      width: 100%;
      background-color: @color-blue;
      border:@color-black 1px solid;
    }

    input{
      font-size: @font-size-base-desktop;
      color: @color-white;
      padding: 16px 20px;
    }

    .wpcf7-submit {
      width: 180px;
      font-weight: bold;
    }
  }
}