#page-template-home {
  #abertura {
    padding-top: @header-height-desktop + 40px;
    
    .ca-topic-list {

      @media (max-width: @mobile-max-width) {

      }
    }
  }

  #sobre {
    .ca-supporters {
      display: flex;
      // justify-content: space-between;

      > div {
        width: 48%;
        flex-shrink: 0;

        > ul {
          .ca-reset-list();
          display: flex;
          // justify-content: space-between;

          > li {
            width: 46%;

            > img {
              display: block;
              width: 58%;
            }
          }
        }
      }
    }

    @media (max-width: @mobile-max-width) {
      .ca-supporters {
        flex-direction: column;

        > div {
          width: 100%;
          margin-bottom: 50px;
        }
        > div:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #contato {
    .ca-section-body {

      .ca-contact-email-link {
        text-decoration: none;
        display: flex;
        align-items: center;

        svg {
          flex-shrink: 0;
          width: 30px;
          margin-right: 10px;
        }
      }

      .ca-yellow:hover {
        color: @color-yellow;
      }
    }
    @media (max-width: @mobile-max-width) {
      .ca-section-body {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}