#page-template-home {
  #abertura {
    .ca-topic-list {
      margin-top: 60px;

      @media (max-width: @mobile-max-width) {
        margin-top: 10px
      }
    }
  }

  #sobre {
    .ca-supporters {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;

      > div {
        width: 48%;
        flex-shrink: 0;

        > h3 {
          margin-bottom: 20px;
        }

        > ul {
          .ca-reset-list();
          display: flex;
          justify-content: space-between;

          > li {
            width: 46%;

            > img {
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    @media (max-width: @mobile-max-width) {
      .ca-supporters {
        flex-direction: column;
        margin-top: 10px;

        > div {
          width: 80%;
          margin-bottom: 50px;
        }
        > div:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #contato {
    .ca-section-body {
      margin-top: 40px;

      .ca-contact-email-link {
        margin-bottom: 50px;
        display: flex;

        > img {
          height: 30px;
          margin-right: 10px;
        }
      }
    }
    @media (max-width: @mobile-max-width) {
      .ca-section-body {
        display: flex;
        flex-direction: column-reverse;

        margin-top: 20px;
      }
    }
  }
}