@website-max-width: 1400px;

/**
 * Side paddings
 */
@side-padding-desktop: 30px;
@side-padding-mobile: 20px;

/**
 * Media-query breakpoints
 */
@mobile-max-width: 450px;
@tablet-min-width: 451px;
@tablet-max-width: 900px;
@desktop-min-width: 901px;
@desktop-max-width: 1400px;
@large-desktop-min-width: 1401px;

/**
 * Colors
 */
@color-red: red;
@color-blue: blue;
@color-yellow: yellow;

@color-text-dark: black;
@color-text-light: white;

@light-colors: {
	yellow: @color-yellow;
}

@dark-colors: {
	red: @color-red;
	blue: @color-blue;
};

/**
 * Font sizes
 */
@font-size-base: 14px;
@font-size-heading-1: 7rem;
@font-size-heading-2: 5rem;
@font-size-heading-3: 3rem;
