.ca-csv-filter-app {
	min-height: 100px;
	position: relative; // For loading indicator

	> .ca-csv-filter-app__header {
		> .ca-csv-filter-app__header__bar {
			width: 100%;
			display: flex;
			justify-content: space-between;

			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 2px solid black;

			> div {
				display: flex;
				align-items: flex-start;
				max-width: 50%;
			}

			> .ca-csv-filter-app__header__bar__left {
				> h3 {
					margin-right: 30px;
					white-space: nowrap;
					height: 48px;
					display: flex;
					align-items: center;
				}
			}

			> .ca-csv-filter-app__header__bar__right {
				> * {
					margin-left: 10px;
				}
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	> .ca-csv-filter-app__body {
		> .ca-csv-filter-app__body__no-results-message {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			> h3 {
				max-width: 300px;
				text-align: center;
			}

			> ul {
				width: 400px;
				list-style: none;
				padding: 0;
				margin: 0;

				> li {
					display: flex;
					justify-content: space-between;

					/**
					 * Remove search button
					 */
					button {
				    display: flex;
				    justify-content: center;
				    align-items: center;

				    margin-right: 10px;

				    padding: 0;
				    border: none;
				    color: inherit;

				    cursor: pointer;

				    width: 15px;
				    height: 15px;

				    background-color: transparent;

				    > svg {
				    	height: 100%;
				    	width: 100%;
				    }
					}


					> * {
						width: 48%;

						&:first-child {
							display: flex;
							justify-content: flex-end;
							align-items: center;
						}
					}

					> ul {
						list-style: none;
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}

	> .ca-csv-filter-app__footer {
		padding-top: 40px;
		padding-bottom: 40px;
		
		display: flex;
		justify-content: center;
	}

	@media (max-width: @tablet-max-width) {
		> .ca-csv-filter-app__header {
			> .ca-csv-filter-app__header__bar {
				display: flex;
				flex-direction: column;

				> .ca-csv-filter-app__header__bar__left {
					max-width: 100%;
					flex-direction: column;

					> * {
						margin-right: 0;
						margin-bottom: 10px;
					}
				}

				> .ca-csv-filter-app__header__bar__right {
					max-width: 100%;
					flex-direction: column;

					> * {
						margin-left: 0;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
