.ca-reset-list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul.ca-link-button-list {
	.ca-reset-list();

	> li {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul.ca-link-image-list {
	.ca-reset-list();

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	> li {
		width: 23%;

		> a {
			display: flex;
			flex-direction: column;

			> img {
				width: 100%;
			}
		}
	}

	&.ca-link-image-list--vertical-images {
		> li {
			> a {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				text-decoration: none;

				> img {

				}

				> h4 {
					min-height: 4.5rem;
					font-size: 1rem;
					margin-top: 10px;
					margin-bottom: 0;

					text-align: center;
				}
			}
		}
	}

	&.ca-link-image-list--horizontal-images {

	}
}

ul.ca-topic-list{
	.ca-reset-list();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;

    > h2 {
      width: 80%;
      text-align: center;
    }

    > div {
      text-align: center;
    }
  }
}

ul.ca-content-link-list {
	.ca-reset-list();

  li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px black solid;

    padding-top: 40px;
    padding-bottom: 40px;

	  > img {
	    width: 40%;
	  }

    > div {
      width: 60%;

      > h2.ca-heading-2 {
      	margin-bottom: 40px;
      }

		  > a {
		    margin-top: 40px;
		  }
    }
  }
}

ul.ca-related-content-link-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	> li {
		width: 32%;
	}
}

ul.ca-contact-icon-link-list {
  .ca-reset-list();
  display: flex;

  > li {
	  margin-right: 30px;
    
    > a {
    	display: block;

    	> img {
    		display: block;
	      width: 30px;
	    }
    }
  }
}
