.ca-page-section {
	position: relative;
	box-sizing: border-box;

	// padding-top: @spacing-unit-6;
	// padding-bottom: @spacing-unit-6;

	&::before {
		content: '';
		display: block;
		position: absolute;

		left: @side-padding-desktop;
		right: @side-padding-desktop;
		top: 1px;

		height: 2px;
		background-color: black;

		@media (max-width: @mobile-max-width) {
			left: @side-padding-mobile;
			right: @side-padding-mobile;
		}
  }

 	.ca-page-section__image-container {
    padding-top: 20px;
    padding-right: 50px;
    box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		> img {
			display: block;
			width: 100%;
		}
	}

  .ca-page-section__contents {
    
    > .ca-heading-3 {
    	margin-bottom: @spacing-unit-4;
    }

    > .ca-page-section__contents_description {
    	margin-bottom: @spacing-unit-4;
    }

    > *:last-child {
    	margin-bottom: 0;
    }
  }

  // .ca-link-image-list {
  // 	margin-top: @spacing-unit-4;
  // }

	
  @media (max-width: @tablet-max-width) {
    .ca-page-section__contents { 
      // padding-top: 10px;
      // padding-bottom: 10px;

      .ca-page-section__contents_description {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    .ca-page-section__image-container {
      display: none;
    }
  }
  @media (max-width: @mobile-max-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
