ul.ca-timeline__decades-nav {
  .ca-reset-list();
  position: relative;
  box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	width: 100%;

  a {
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-top: 8px;
    padding-bottom: 8px;

    text-decoration: none;

    &.empty {
      opacity: 0.4;
      text-decoration: none;
      font-weight: normal;
    }

    &.active {
      border-bottom-color: @color-blue;
    }
  }

	a

  > li {
    flex-shrink: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  overflow: auto;
}

.ca-timeline__toolbar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
  padding-bottom: 20px;

  &::after {
    content: '';
    display: block;
    position: absolute;

    width: 100%;
    bottom: 1px;

    height: 2px;
    background-color: black;
  }

  &:last-child {
    &::after {
      content: '';
      height: 0px;
    }
  }

  @media (max-width: @tablet-max-width) {
    flex-direction: row;
    
    &:last-child {
      padding-bottom: 0px;
    }

  }
}

ul.ca-timeline__decade-list {
	.ca-reset-list();
}

ul.ca-timeline__event-list {
	.ca-reset-list();

	> .ca-timeline-event-list__item {
    position: relative;

    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      position: absolute;

      width: 100%;
      bottom: 1px;

      height: 2px;
      background-color: black;
    }

    > .ca-heading-3 {
      margin-bottom: 20px;
    }

		> .ca-timeline-event-list__item__body {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;


			> * {
				width: 48%;
			}

			> img {
				height: auto;
			}

      > .wysiwyg-content:first-child {
        width: 100%;
      }
		}
	}
  
  @media (max-width: @tablet-max-width) {
    > .ca-timeline-event-list__item {
      padding-top: 20px;
      padding-bottom: 20px;

      > .ca-heading-3 {
        margin-bottom: 10px;
      }
      
      > .ca-timeline-event-list__item__body {
        flex-direction: column;

        > * {
          width: 100%;
        }

        > img {
          margin-bottom: 10px;
        }
      }
    }
  }
}
