.wysiwyg-content {
	font-size: 1rem;
	
	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
  
  p {
    font-size: inherit;
  }
  
  strong {
    font-weight: bold;
  }

  figure {
  	margin-left: 0;
  	margin-right: 0;
  }

  iframe {
  	width: 100%;
  	height: 50vh;
  }

  @media (max-width: @tablet-max-width) {
  	iframe {
  		height: 40vh;
  	}
  }
}