.wysiwyg-content {
	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
  
  p {
    font-size: @font-size-base-desktop;
  }
  
  strong {
    font-weight: bold;
  }
}