#main-footer {
  .col-md-8 {
    display: flex;
  }
  .section-body {
    > img {
      width: 150px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 100px;
      display: flex;

       > li {
        margin-right: 30px;
      }
    }
  }
  .decoration {
    width: 250px;
  }

}


