#main-footer {

  > .max-width-container {
    display: flex;
    justify-content: center;

    > div {
      display: flex;

      > div:first-child {
        display: flex;
        flex-direction: column;

        > ul {
          margin-bottom: 100px;
        }

        > img {
          width: 150px;
        }
      }

      > div:last-child {
        > img {
          display: block;
          width: 250px;
        }
      }
    }
  }
}
